# See https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Empusas/BTT_Filament_Motion_Sensor_Mount for complete info 

[filament_motion_sensor filament_sensor]
detection_length: 10
extruder: extruder
switch_pin: ^PC15
pause_on_runout: True
insert_gcode:
  M117 Insert Detected
runout_gcode:
  M117 Runout Detected
  # LCDRGB R=1 G=0 B=0  # Turn LCD red
  BEEP I=12

# Disables the filament sensor 1 second after startup
[delayed_gcode DISABLEFILAMENTSENSOR]
initial_duration: 1
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0