[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_020013001443303054313620-if00
restart_method: command

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4

[neopixel chamber_LED]
pin: expander:PB1
chain_count: 28
# color_order: GRB
initial_RED: 0.25
initial_GREEN: 0.2
initial_BLUE: 0.1

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6

[temperature_sensor dryer]
sensor_type: Generic 3950
sensor_pin: expander:PA5

# [output_pin mosfet0]
# pin: expander:PA0
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin mosfet1]
# pin: expander:PA1
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin mosfet2]
# pin: expander:PA2
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin mosfet3]
# pin: expander:PA3
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# Other Pins
# GPIO = PA7