[include mainsail.cfg]
[include SKR-mini-E3-V3.0-klipper.cfg]
[include macros.cfg]
[include stealthburner_leds.cfg]
[include filament_runout.cfg]
[include klipper_expander.cfg]
[include bedfans.cfg]
[include tool1.cfg]
[include swap_tools.cfg]
[include klackender.cfg]
[include air_filter_timer.cfg]
[include KAMP/*cfg]
# [include accelerometer.cfg]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[exclude_object]

#*# [bltouch]
#*# z_offset = 1.695
