# PLA

[extruder]
# 215°
# control = pid
# pid_kp = 24.569
# pid_ki = 1.462
# pid_kd = 103.188

# Temporarily copy PETG PID here until toolswap works
# 240°
control = pid
pid_kp = 24.569
pid_ki = 1.462
pid_kd = 103.188

# Temporarily copy ABS/ASA PID here until toolswap works
# 255°
# control = pid
# pid_kp = 24.569
# pid_ki = 1.462
# pid_kd = 103.188

[heater_bed]
# 60°
# control = pid
# pid_kp = 71.741
# pid_ki = 1.110
# pid_kd = 1159.510

# Temporarily copy PETG PID here until toolswap works
# 80°
control = pid
pid_kp = 74.669
pid_ki = 1.711
pid_kd = 814.825

# Temporarily copy ABS/ASA PID here until toolswap works
# 110°
# control = pid
# pid_kp = 75.019
# pid_ki = 1.731
# pid_kd = 813.019

# 90°
# control = pid
# pid_Kp = 74.571 
# pid_Ki = 1.646 
# pid_Kd = 844.515